<div id="track-list" *ngIf="_spotify.tracks">

    <div id="data">
        <div>
            <p>#</p>
            <div id="spacer"></div>
            <p>Title</p>
        </div>

        <div>
            <mat-icon>timer</mat-icon>
            <p>Duration</p>
        </div>
    </div>

    <div id="track" *ngFor="let track of _spotify.tracks; let i = index" (click)="playSong(_spotify.tracks[i].id, i)">
        
        <div id="info">
            <p>{{i+1}}</p>
            <mat-icon>play_circle_filled</mat-icon>
            
            <div id="track-image" 
            [ngStyle]="{'background-image': 'url(' + _spotify.playlists[_spotify.currentPlaylistIndex].image + ')' }"></div>

            <div id="track-info">
                <p id="name">{{track.name}}</p>

                <p id="artist">{{track.artists}}</p>
            </div>

        </div>

        <div id="time">
            <p>{{track.duration}}</p>
        </div>

    </div>

</div>