/* You can add global styles to this file, and also import other style files */
* {
    margin: 0px;
    padding: 0px;
    -webkit-app-region: drag;
}

body {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
}