/* You can add global styles to this file, and also import other style files */
* {
    margin: 0px;
    padding: 0px;
    -webkit-app-region: drag;
}

body {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;

    topbar {
        position: absolute;
        width: 100%;
        z-index: 10;
    }

    global-player {
        position: absolute;
        z-index: 10;
    }
    
}
