#topbar-button {
    width: 170px;
    height: 70px;
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    user-select: none;
    border-radius: 40px;
    transition-duration: 350ms;
    &:hover {
        font-size: 28px;
    }
}
