@import 'styles/fonts';

#volume {
    position: relative;
    display: flex;
    align-items: center;
    font-family: Roboto;

    input {
        height: 10px;
        -webkit-appearance: none;
        outline: none;
        margin-right: 50px;
        border-radius: 25px;
        // background: #00d95a;

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: black;
            position: relative;
            z-index: 10;

            &:hover {
                background: lighten($color: #000000, $amount: 50%);
            }
        }
    }

    #slider-space {
        position: absolute;
        height: 10px;
        background: #00d95a;
        pointer-events: none;
        border-radius: 25px;
        z-index: 1;
    }

    p {
        position: absolute;
        right: 0;
        color: white;
        margin: 10px;
    }
}