<div id="game-footer">
    <div id="text">
        <label>Assassin's Creed Valhalla</label>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia repudiandae provident id nostrum distinctio ut, doloremque ad, incidunt numquam deleniti modi laudantium autem saepe exercitationem libero possimus, tempora nisi error?
        </p>
    </div>
    <div id="buttons">
        <flat-button background="transparent">Scopri</flat-button>
        <flat-button background="red">Gioca</flat-button>
    </div>
</div>
