@import 'styles/fonts';

#topbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;

    #topbar__left {
    
        font-family: Roboto-medium;
    
        width: 60%;
        height: 10vh;
        justify-content: space-around;
        background: transparent;
        display: flex;
        align-items: center;
    
        topbar-button {
            margin: 5px;
        }
    
        user-box {
            margin: 10px;
        }

    }
}