<div id="game-footer">

    <div id="add">
        <circular-button (click)="onCazziClick()"></circular-button>
        <div *ngIf="add" [@open]>
            <input type="text" id="name" autocomplete="off">
            <flat-button size="small" background="red" (click)="openFileExplorer()">
                <input type="file" id="hidden">
                <mat-icon>folder_open</mat-icon>
            </flat-button>
            <flat-button background="red">
                <mat-icon>add</mat-icon>
            </flat-button>
        </div>
    </div>

    <div id="game-footer__container">
        <div id="text">
            <label>Game title here...</label>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia repudiandae provident id nostrum distinctio ut, doloremque ad, incidunt numquam deleniti modi laudantium autem saepe exercitationem libero possimus, tempora nisi error?
            </p>
        </div>
        <div id="genres">
            <div id="center">
                <div class="genre" *ngFor="let genre of genres">ciao</div>
            </div>
        </div>
        <div id="buttons">
            <flat-button background="transparent">Discover</flat-button>
            <flat-button background="red" (click)="openGame()">Play</flat-button>
        </div>
    </div>

</div>
