<!-- DEMO OF THE APP -->
<body>
  <div class="master">

    <div class="titlebar">
      <div>
      <i class="far fa-clone"></i>
    </div>
    <p>This is a Layon demo</p>

    <div class="winbuttons">
      <div id="min-btn">
        <i class="far fa-window-minimize"></i>
      </div>
      <div  id="max-btn">
        <i class="far fa-window-maximize"></i>
      </div>
      <div id="close-btn">
        <i class="fas fa-times"></i>
      </div>
    </div>
  </div>

  <div class="navbar">
    <div>
      <i class="fas fa-gamepad"></i>
      <h1>Games</h1>
    </div>
    <div>
      <i class="fas fa-atom"></i>
      <h1>App</h1>
    </div>
  </div>

  <div class="games-list">
    <div class="big-picture" *ngFor="let game of gameList">
      <div class="games">
        <div class="title">
          <p>{{ game }}</p>
        </div>
        <div class="content">
          <div class="image">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
              Inventore adipisci dolore ipsam aut dolor sequi tempore vitae
              saepe illo cupiditate deleniti explicabo, blanditiis quidem nostrum magni, placeat quo? Nihil, obcaecati?</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</body>