@import 'styles/fonts';

#container {
    width: 100%;
    height: 100vh;
    background: url(/assets/webp/spotify.webp) no-repeat center/cover;
    font-family: Roboto-medium;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #title {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1 {
            font-size: 72px;
            color: rgb(0, 0, 0);
        }

        p {
            font-size: 18px;
        }

        spotify-button {
            margin: 25px;
        }

        animation: 0.5s ease-out 0s 1 slideInFromLeft;
    }


    @keyframes slideInFromLeft {
        0% {
          transform: translateX(-100%);
        }
        100% {
          transform: translateX(0);
        }
    }
}