@import 'styles/fonts';

#player {
    width: 100%;
    height: 300px;
    display: flex;
    background: transparent;
    flex-direction: column;
    align-items: center;
    user-select: none;
    font-family: Roboto;

    #song-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        #current {
            width: 200px;
            height: 200px;
            margin: 10px;
        }

        p {
            color: white;
            margin: 5px;
        }
    }

    #buttons {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        border-top: 1px solid #b3b3b31e;
        justify-content: center;
        background: #181818;

        #play-pause {
            width: 40px;
            height: 40px;
            background: #ffffff;
            border: none;
            border-radius: 50%;
            outline: none;
            margin: 0px 10px 0px 10px;
        }

        .buttons {
            width: 45px;
            height: 45px;
            border: none;
            color: #b3b3b3;
            background: transparent;
            border-radius: 50%;
            outline: none;
            margin: 0px 10px 0px 10px;
        }
    }

    .active {
        color: rgb(30 215 96);
    }
}