<div id="player">

    <div *ngIf="_spotify.currentTrack" id="song-info">
        <img [src]="_spotify.currentTrack.image" id="current">
    
        <p>{{_spotify.currentTrack.name}}</p>
    </div>

    <div id="buttons">
        <button class="buttons">
            <mat-icon>replay</mat-icon>
        </button>

        <button class="buttons">
            <mat-icon>skip_previous</mat-icon>
        </button>

        <button id="play-pause" (click)="_spotify.isPause = !_spotify.isPause">
            <mat-icon *ngIf="!_spotify.isPause">play_arrow</mat-icon>
            <mat-icon *ngIf="_spotify.isPause">pause</mat-icon>
        </button>

        <button class="buttons">
            <mat-icon>skip_next</mat-icon>
        </button>

        <button class="buttons" (click)="_spotify.repeat = !_spotify.repeat">
            <mat-icon [ngClass]=" { 'active' : _spotify.repeat } ">repeat_one</mat-icon>
        </button>
    </div>

</div>
