<div id="playlists">

    <div id="playlist-list" *ngIf="_spotify.playlists">
        <div id="single-playlist" *ngFor="let playlist of _spotify.playlists; let i = index"
        [ngStyle]="{'background-image': 'url(' + playlist.image + ')' }"
        (click)="getPlaylistTracks(i)">

            <div>
                <p>{{playlist.name}}</p>
            </div>
        </div>
    </div>
    
    <div *ngIf="!_spotify.playlists" id="left">
        <h1>No playlists found.</h1>
    </div>

    <h1 id="current-playlist">{{selectedPlaylist}}</h1>
    
</div>