<div id="user-box">

    <div class="profile-picture" (click)="dropDown = !dropDown"
    [style]="dropDown ? 'border: 3px solid #0e1112be' : '' ">
        <img src="https://avatars.githubusercontent.com/u/29713081?v=4">
    </div>

    <div id="drop-down" *ngIf="dropDown">
        <div>

            <div>
                <img src="https://avatars.githubusercontent.com/u/29713081?v=4"
                class="profile-picture-big">
            </div>
            
            <div class="info">
                <p id="name">Jasoc</p>
                <p>Jasoc@gmail.com</p>
            </div>

        </div>
        <flat-button background="transparent" border="thin" color="black">Esci</flat-button>
    </div>

</div>
