<div id="user-box">

    <div class="profile-picture" (click)="dropDown = !dropDown"
    [style]="dropDown ? 'border: 3px solid #0e1112be;' : '' ">
        <img src="https://s3-eu-west-1.amazonaws.com/static.screenweek.it/interpretation/original_low-80732.jpg?1456325533">
    </div>

    <div id="drop-down" *ngIf="dropDown">
        <div>

            <div>
                <img src="https://s3-eu-west-1.amazonaws.com/static.screenweek.it/interpretation/original_low-80732.jpg?1456325533"
                class="profile-picture-big">
            </div>
            
            <div class="info">
                <p id="name">Faraday</p>
                <p>DanielFaraday@hotmail.it</p>
            </div>

        </div>
        <flat-button background="transparent" border="thin" color="black">Quit</flat-button>
    </div>

</div>
