@import 'styles/fonts';

#game-box {
    #game-box__rounded {

        background: white;
        border-radius: 7px;
        height: 250px;
        width: 450px;
        display: flex;
        align-items: flex-end;
        box-shadow: inset 0px 0px rgba(0,0,0,0.5);
        background-size: cover;
        background-position: center;

        $MARGIN: 25px;
        margin-bottom: $MARGIN;
        margin-top: $MARGIN;
    }

    #title {
        font-size: 25px;
        overflow: hidden;
        font-family: Roboto;
        color: black;
    }
}
