<div id="game-footer">
    <div id="game-footer__container">
        <div id="text">
            <label>{{ _utils.formatGameNameToUpperCases(title) }}</label>
            <p>
                {{ _games.currentGame.description }}
            </p>
        </div>
        <div id="genres">
            <div id="center">
                <div class="genre" *ngFor="let genre of genres">ciao</div>
            </div>
        </div>
        <div id="buttons">
            <flat-button background="transparent" (click)="discover()">Discover</flat-button>
            <flat-button background="red" (click)="openGame()">Play</flat-button>
        </div>
    </div>

</div>
