<div id="user-box">

    <div class="profile-picture" (click)="dropDown = !dropDown"
    [style]="dropDown ? 'border: 3px solid #0e1112be;' : '' ">
        <img src="https://i.scdn.co/image/ab67616d00001e024047c678ee67fcc9a4419f3e">
    </div>

    <div id="drop-down" *ngIf="dropDown">
        <div>

            <div>
                <img src="https://i.scdn.co/image/ab67616d00001e024047c678ee67fcc9a4419f3e"
                class="profile-picture-big">
            </div>

            <div class="info" *ngIf="_layon.userName">
                <p id="name">{{ _layon.userName }}</p>
                <p>{{ _layon.userEmail }}</p>
            </div>

        </div>
        <flat-button background="transparent" border="thin" color="white">Quit</flat-button>
    </div>

</div>
