@import 'styles/fonts';

#topbar {
    
    font-family: Roboto-medium;

    width: 100%;
    height: 15vh;
    background: transparent;
    display: flex;
    align-items: center;
    position: absolute;

    topbar-button {
        margin: 5px;
    }

    user-box {
        margin: 10px;
    }
}
