@import 'styles/fonts';
@import 'styles/colors';

#games-options {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
    position: relative;
    
    .button {
        cursor: pointer;
        font-size: 35px;
        color: white;
        position: absolute;
        $SIZE: 35px;
        height: $SIZE;
        width: $SIZE;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #menu {
        z-index: 3000;
        position: absolute;
        background: $LAYON-BLACK;
        top: 35px;
        right: 0;
        border-radius: 7px;
        display: flex;
        flex-direction: column;

        .option {
            display: flex;
            align-items: center;
            padding: 10px;
            height: 50px;
            cursor: pointer;
            border-radius: 7px;

            * {
                cursor: pointer;
            }

            &:hover {
                background: #333333;
            }

            label {
                font-family: Roboto-medium;
                color: white;
                clear: both;
                overflow: hidden;
                display: outline;
                white-space: nowrap;
                margin-right: 25px;
            }

            mat-icon {
                color: white;
                margin-right: 15px;
                margin-left: 15px;
            }
        }
    }
}