<div id="games-options">
    <mat-icon
        class="button"
        (click)="onMenuCLick()"
        [@mainButton]="buttonAnimated ? 'rotated' : 'normal'"
        (mouseover)="onMenuHover()" (mouseout)="onMenuUnHover()">
        settings
    </mat-icon>
    <div id="menu" [@openMenu]="menuOpened ? 'opened' : 'closed'">
        <div class="option" (click)="onGameAddOptionClick()">
            <mat-icon>note_add</mat-icon>
            <label>Add new game</label>
        </div>
        <div class="option">
            <mat-icon>table-view</mat-icon>
            <label>Switch view</label>
        </div>
    </div>
</div>
